.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;

  &__button {
    width: 3rem;
    height: 3rem;
    background-color: #34b166d4;
    border: 3px solid #000;

    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    font-family: inherit;
    font-size: 1rem;

    &:not(.pagination__button--prev--disabled):not(
        .pagination__button--next--disabled
      ):hover {
      cursor: pointer;
      filter: brightness(1.6);
    }

    &--prev {
      margin-right: 1rem;
      background-image: url(../../images/icons/button-left-arrow.svg);

      &--disabled {
        background-image: url(../../images/icons/button-left-arrow-disabled.svg);
        border: 1px solid #7e7d7d;
        background-color: #7bc498df;
      }
    }

    &--next {
      margin-left: 1rem;
      background-image: url(../../images/icons/button-right-arrow.svg);

      &--disabled {
        background-image: url(../../images/icons/button-right-arrow-disabled.svg);
        border: 1px solid #7e7d7d;
        background-color: #7bc498df;
      }
    }
  }

  &__darks {
    display: flex;
    align-items: end;
  }

  &__active {
    background-color: #09682ff3;
    color: #fff;
    border: 3px solid #fff;
  }
}
