.delete__message {
  position: absolute;
  top: 20%;
  left: 15%;
  font-size: 4rem;
  color: #ca2a2a;
  text-shadow: -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #030303,
    2px 2px 0 #000000;
}
